.blind { /* 구조적으로는 필요하지만, 시각적으로 필요없음 */ 
    display: none;}
 /* main --> event style */
 mark{
     background: #161010;
     color: #ffffff; /* 글자 색상 */
     padding: 10px 20px; /* 안 여백 */
     border-radius: 10px;
     letter-spacing: 5px; /* 글자 사이 간격 */
     text-align: right;
     text-indent: 2px;
     margin-right: 10px;
 }
.schedule {
    width: 1100px;
    margin: 0 auto;
}
.schedule > h2 {
    border-bottom: 1px solid #666;
    margin:30px 0;
}
.schedule > h2 span {
    border: 1px solid #333;
    border-bottom:1px solid rgb(248, 247, 247);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-left:10px;
    margin-bottom: -1px;
}

.schedule mark {
    background:#3E3838;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

 .schedule li {
     margin:25px 0;
     overflow: hidden; /* ( 겹치는거 해결 ) */
     display: flex;
     padding-left: 15px;
}

.event {
    width: 1100px;
    margin: 0 auto;
}
.event > h2 {
    border-bottom: 1px solid #666;
    margin:30px 0;
}
.event > h2 span {
    border: 1px solid #333;
    border-bottom:1px solid rgb(248, 247, 247);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-left:10px;
    margin-bottom: -1px;
}

.event mark {
    background:#3E3838;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

 .event li {
     margin:25px 0;
     overflow: hidden; /* ( 겹치는거 해결 ) */
     display: flex;
     padding-left: 15px;
}

.event2 {
    width: 1100px;
    margin: 0 auto;
}
.event2 > h2 {
    border-bottom: 1px solid #666;
    margin:30px 0;
}
.event2 > h2 span {
    border: 1px solid #333;
    border-bottom:1px solid rgb(248, 247, 247);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-left:10px;
    margin-bottom: -1px;
}

.event2 mark {
    background:#3E3838;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

 .event2 li {
     margin:25px 0;
     overflow: hidden; /* ( 겹치는거 해결 ) */
     display: flex;
     padding-left: 15px;
}

body {
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
}

a, a:link {
    text-decoration:none;
}

/* header style */
.logo {
    text-align: center; /* 사진을 글자로 인식 */
    width: 154px; /* pixel element : 픽셀, 화소 ( 점 dot <--> pixel ) */
    height: 152px;
    margin:0 auto; /* text-align: center; 같은 말 */
}

.img{
    float: left;
}

.desc {
    float: right;
    margin: 0 0 20px 0;
    margin-top: 0;
}

.picture img{
  width: 100%;
}


.menu {
    background:#191919;
    text-align: center;
}

.menu a {
    color:white
}

.menu li {
    display: inline-block; /* block 과 반대말 */
    padding: 10px 0;
    height: 20px;
    
}

.menu li:nth-child(2) {
    margin: 0 30px;
}

.menu a:hover {
    color: #01ccff
}

table,th, td {
    border: 1px solid #191919;
    padding:20px;
      }
      
 table {
    border-collapse: collapse; /* 테두리 겹침 :) */
 }     

table, th{
    margin:0 auto;
}

th, td {
    text-align: center; /* 가로만 */
    padding:10px 10px;
    vertical-align: middle; /* 세로 */
}

#th_fee th {
  width: 25%; /* 800 x 0.25 ==> 200px */
}

#tb_cast th{
    width: 25%;
}

#tb_cast td{
    width: 75%;
}

#tb_cast {
    margin-bottom:50px;
}



#tb_fee tr:nth-child(1) th {
    background: yellow;
}

th {
    background: #f7f7f7;
    }
.bg {
    background: #ffeded;
}

.point {
    color: #ff0000;
}

table {
    width: 800px; /* %는 창이 바뀌면 같이 변함 */
}

caption {  
    padding:10px;
    font-size: 1em;
 }

 /* footer */

.extra-menu {
  text-align: center;
  
  color :#191919
}

.extra-menu li{
    display: inline-block;
    padding: 10px;
    height: 10px;
 }


.footer-logo {
    text-align: center;
    width: 103px;
    height: 101px;
    margin:0 auto;
    padding: 20px 0 20px 0;
}
.footer-logo img {
    width: 98px;
}

.footer-logo_p1 {
    text-align: center;
}

.footer-logo_p2 {
    text-align: center;
}

.black-bg {
    background: #0f0f0f;
    overflow: hidden; /* 겹치지 않도록 */
 }

.black-bg p{
    text-align: center;
    color: #999999;
   }

   /* rwd(responsive web design, 반응형 웹디자인) */

@media screen and (max-width:480px) {
       #tb_fee, #tb_cast {
           max-width: 90%
       }
       
       .picture img{
        width: 100%;
      }
      
  }


