body {
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
}

a, a:link {
    text-decoration:none;
    
}

/* header style */
.logo {
    text-align: center; /* 사진을 글자로 인식 */
    width: 154px; /* pixel element : 픽셀, 화소 ( 점 dot <--> pixel ) */
    height: 152px;
    margin:0 auto; /* text-align: center; 같은 말 */
}

.picture img {
   width: 1190px;
   }

.picture {
    text-align: center;
}

ul {
    text-align: center;
}

.menu li{  
    display: inline;
   }

table,th, td {
    border: 1px solid #191919;
    padding:10px;
    border-collapse: collapse;
   }

table, th{
    margin:0 auto;
}


}
caption {
    margin: 20px;
    }

.exter-menu {
    padding: 0 0 20px 0;
}
.exter-menu li{
    display: inline;
    }

.footer-logo {
    text-align: center;
    
}
.footer-logo_p1 {
    text-align: center;
}
.footer-logo_p2 {
    text-align: center;
}

#footer {
    background: darkgrey;
}